@using EntityLayer.Concrete
@model List<Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<style>
    body {
        background: linear-gradient(0deg, rgba(255,255,255, 0.6), rgba(77, 196, 196, 0.6)), url(https://seeklogo.com/images/D/devlet_su_isleri-logo-1DE3FB1F15-seeklogo.com.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: auto;
        background-position: center;
        background-color: transparent;
    }
</style>


<table class=" table table-bordered">
    <tr>
        <th># </th>
        <th>Departman Adı </th>
        <th>Sil </th>
        <th>Güncelle </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.JobID</td>
            <td>@item.Name</td>
            <td> <a href="/Job/DeleteJob/@item.JobID" class="btn btn-outline-danger">Sil</a></td>
            <td> <a href="/Job/UpdateJob/@item.JobID" class="btn btn-outline-primary">Güncelle</a></td>
        </tr>
    }
</table>


