@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
    @Html.Label("Departman ID")
    @Html.TextBoxFor(x => x.JobID, new { @class = "form-control" })
    <br />

    @Html.Label("Departman Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Departmanı Güncelle</button>

</form>