<!--SOLID'e uygunluk için Partial View'de Side Bar (sol menü) kısmımız burada-->
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menü</div>


                <a class="nav-link" href="/Employee/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-user-circle"></i></div>
                    Rehber
                </a>

                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-signal"></i></div>
                    Departman
                </a>

                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fa fa-user-plus"></i></div>
                    Yeni Departman Girişi
                </a>

                <a class="nav-link" href="/Category/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Çağrılar
                </a>

                <a class="nav-link" href="/Settings/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
                    Parola
                </a>

            </div>
        </div>
    </nav>
</div>