
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<center><h1>Cevapsız Çağrılar Sayfası Bakımda !</h1></center>

<center><img src="https://www.raps.org/RAPS/media/Website-FAQ/Under-Maintenance.jpeg" alt="" width="600" height="600"></center>